.project
.buildpath
.settings
tags
/nbproject/private/
/.idea/*
/.vscode/
/.buildpath
/data/htmlpurifier/HTML/*
/data/htmlpurifier/URI/*
nbproject/*
/data/smarty/templates_c
/data/log/integration
/data/log/*.log
/data/log/*.bin
/public/frontend/app
/public/unmanaged/temp
/public/.sass-cache
/public/upload/resource-icons
/frontend/app/distMobile/
/frontend/app/android
.idea/
*.swp
*.swo

/library/dompdf/lib/fonts/log.htm
*.dat
*.exe

*.sublime-project
*.sublime-workspace

/vendor/
