#scheduleBlock .infoblock-schedule-table :hover {
}
#scheduleBlock .infoblock-schedule-table td {
    padding: 5px;
}

#scheduleBlock .infoblock-schedule-subject {
    font-size: 1.636em;
    font-weight: bold;
}

#scheduleBlock .infoblock-schedule-dates {

}

#scheduleBlock .infoblock-schedule-lesson {
    
}

#scheduleBlock .infoblock-schedule-lesson .overdue {
    color: red !important;
}

#scheduleBlock #infoblock-schedule-begin {
    width: 70px;
}

#scheduleBlock #infoblock-schedule-end {
    width: 70px;
}
.infoblock-scheduleBlock .ui-widget-content{
	max-height: 600px;
	overflow-y: auto;
	padding: 1px 0;
}		