* {
  box-sizing: border-box;
}
body {
  font: 14px tahoma;
}
.clearfix,
.cf {
  zoom: 1;
}
.clearfix:before,
.cf:before,
.clearfix:after,
.cf:after {
  content: "";
  display: table;
}
.clearfix:after,
.cf:after {
  clear: both;
}
.block-hint {
  width: 300px;
  left: 50%;
  top: 100%;
  margin-top: 5px;
  background: #dedede;
  padding: 10px 15px;
  color: #111;
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  line-height: 18px;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -moz-transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}
.block-hint:before {
  content: '';
  width: 20px;
  height: 20px;
  background: #dedede;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  z-index: -1;
}
.legend {
  margin: 25px 0;
  text-align: justify;
  padding-left: 45px;
  position: relative;
  font-size: 13px;
  min-height: 30px;
}
.legend:before {
  content: 'i';
  font: bold italic 25px serif;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #bf1010;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
.legend + .scheme-logo,
.legend + .scheme-map,
.legend + .scheme-accordeon,
.legend + .scheme-dialog,
.legend + .dnd,
.legend + .scheme-obj,
.scheme-logo + .scheme-logo,
.scheme-logo + .scheme-map,
.scheme-logo + .scheme-accordeon,
.scheme-logo + .scheme-dialog,
.scheme-logo + .dnd,
.scheme-logo + .scheme-obj,
.scheme-map + .scheme-logo,
.scheme-map + .scheme-map,
.scheme-map + .scheme-accordeon,
.scheme-map + .scheme-dialog,
.scheme-map + .dnd,
.scheme-map + .scheme-obj,
.scheme-accordeon + .scheme-logo,
.scheme-accordeon + .scheme-map,
.scheme-accordeon + .scheme-accordeon,
.scheme-accordeon + .scheme-dialog,
.scheme-accordeon + .dnd,
.scheme-accordeon + .scheme-obj,
.scheme-dialog + .scheme-logo,
.scheme-dialog + .scheme-map,
.scheme-dialog + .scheme-accordeon,
.scheme-dialog + .scheme-dialog,
.scheme-dialog + .dnd,
.scheme-dialog + .scheme-obj,
.dnd + .scheme-logo,
.dnd + .scheme-map,
.dnd + .scheme-accordeon,
.dnd + .scheme-dialog,
.dnd + .dnd,
.dnd + .scheme-obj,
.scheme-obj + .scheme-logo,
.scheme-obj + .scheme-map,
.scheme-obj + .scheme-accordeon,
.scheme-obj + .scheme-dialog,
.scheme-obj + .dnd,
.scheme-obj + .scheme-obj {
  margin-top: 50px;
}
.scheme-logo {
  display: block;
  list-style: none;
  width: 400px;
  height: 400px;
  margin: 0 0;
  padding: 0;
  background: url('../img/logo-scheme.png') 0 0 no-repeat;
  background-size: cover;
  position: relative;
}
.scheme-logo li {
  position: absolute;
  height: 28%;
  width: 28%;
  color: #fff;
  border-radius: 50%;
}
.scheme-logo li:hover {
  z-index: 99;
}
.scheme-logo-letter {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 112px;
  font-size: 40px;
  -moz-transition: -moz-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.scheme-logo-letter:hover {
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
}
.scheme-logo-letter:hover + .block-hint {
  visibility: visible;
  opacity: 1;
}
.scheme-logo li:first-child {
  left: 36%;
  top: 0;
}
.scheme-logo li:nth-child(2) {
  right: 0;
  top: 36%;
}
.scheme-logo li:nth-child(3) {
  bottom: 0;
  left: 36%;
}
.scheme-logo li:last-child {
  left: 0;
  top: 36%;
}
.scheme-logo li:not(:first-child):not(:nth-child(2)):not(:nth-child(3)):not(:last-child(4)) {
  display: none;
}
.scheme-logo + .legend {
  width: 400px;
}
.scheme-map,
.scheme-obj {
  display: block;
  list-style: none;
  width: 600px;
  height: 600px;
  margin: 0 0;
  background-size: cover;
  border: 1px solid #083a81;
  border-radius: 5px;
  position: relative;
}
.scheme-map li,
.scheme-obj li {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -32px;
  margin-top: -32px;
}
.scheme-map li:hover,
.scheme-obj li:hover {
  z-index: 99;
}
.scheme-map-point,
.scheme-obj-point {
  width: 63px;
  height: 64px;
  background: url('../img/schemepoint.png') 0 0;
  -webkit-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
  cursor: pointer;
}
.scheme-map-point + .block-hint,
.scheme-obj-point + .block-hint {
  margin: 10px 0 0 -7px;
}
.scheme-map-point:hover + .block-hint,
.scheme-obj-point:hover + .block-hint {
  visibility: visible;
  opacity: 1;
}
.scheme-map + .legend,
.scheme-obj + .legend {
  width: 600px;
}
.scheme-obj li {
  left: 0;
  top: 0;
  margin: 0;
}
.scheme-obj-point {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}
.scheme-obj-point.outline:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  mix-blend-mode: difference !important;
  border: 2px dashed #fff;
  pointer-events: none;
}
.scheme-obj-point.rounded,
.scheme-obj-point.rounded:before {
  border-radius: 50%;
}
.scheme-accordeon {
  display: block;
  list-style: none;
  margin: 0 0;
  padding: 0;
}
.scheme-accordeon li {
  display: block;
  margin-bottom: 7px;
  overflow: hidden;
  position: relative;
  -webkit-transition: height 0.3s ease-out;
  transition: height 0.3s ease-out;
  background: #dedede;
}
.scheme-accordeon li:not(.showed) {
  height: 50px !important;
}
.scheme-accordeon li.showed {
  height: 218px;
}
.scheme-accordeon li div {
  padding: 10px;
}
.scheme-accordeon li:before {
  content: attr(data-title);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #083a81;
  text-align: center;
}
.scheme-accordeon + .legend,
.scheme-accordeon {
  width: 600px;
}
.scheme-dialog {
  display: block;
  list-style: none;
  width: 600px;
  height: 600px;
  margin: 0 0;
  background-size: cover;
  border: 1px solid #083a81;
  border-radius: 5px;
  position: relative;
}
.scheme-dialog li {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 9px;
  margin-top: -9px;
  z-index: 999;
}
.scheme-dialog-replica {
  position: absolute;
  left: 9px;
  bottom: 9px;
  background: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  font-size: 13px;
  line-height: 1.2em;
  padding: 8px 13px;
  border-radius: 10px 10px 10px 0;
  min-width: 250px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.5s ease-out;
  -webkit-transition-prop: opacity, visibility;
  transition-prop: opacity, visibility;
}
.scheme-dialog-replica.showed {
  visibility: visible;
  opacity: 1;
}
.scheme-dialog-replica:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 100%;
  margin: -13px -13px 0 0;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #fff;
  border-bottom: 13px solid transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.scheme-dialog-replica.right {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  border-radius: 10px 10px 0;
}
.scheme-dialog-replica.right:before {
  left: 100%;
  top: 100%;
  margin: -13px 0 0 -13px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.scheme-dialog + .legend {
  width: 600px;
}
.scheme-dialog .dialog-arrs {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.scheme-dialog .dialog-arrs a {
  display: block;
  width: 51px;
  height: 51px;
  float: left;
  border: 2px solid #fff;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.15) url('../img/arrs.png') 11px 50% no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: 0.15s ease-out;
  -webkit-transition: 0.15s ease-out;
  transition-prop: background, visibility, opacity;
  -webkit-transition-prop: background, visibility, opacity;
}
.scheme-dialog .dialog-arrs a.showed {
  opacity: 1;
  visibility: visible;
}
.scheme-dialog .dialog-arrs a + a {
  margin-left: 20px;
  background-position: -28px 50%;
}
.scheme-dialog .dialog-arrs a:hover {
  background-color: rgba(0, 0, 0, 0.33);
}
.inserted-img {
  max-width: 100%;
  display: block;
  margin: 10px 0;
  border: 1px solid #013a81;
  border-radius: 5px;
  padding: 5px;
}
.block-comment {
  background: #efefef;
  padding: 5px 7px 5px 23px;
  margin-left: 15px;
  position: relative;
  font-size: 13px;
}
.block-comment:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/note.png') 0 0;
  position: absolute;
  left: -15px;
  top: -2.5px;
}
.block-fleshka {
  background: #efefef;
  padding: 5px 7px 5px 23px;
  margin-left: 15px;
  position: relative;
  font-size: 13px;
}
.block-fleshka:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background: url('../img/usb.png') 0 0;
  position: absolute;
  left: -15px;
  top: -2.5px;
}
.tablestyle {
  border: 1px solid #083a81;
  border-radius: 5px;
  overflow: hidden;
}
.tablestyle table {
  font-size: 13px;
  border-collapse: collapse;
}
.tablestyle table td,
.tablestyle table th {
  padding: 5px 7px;
  border: 1px solid #ddd;
  vertical-align: top;
}
.tablestyle table th {
  vertical-align: middle;
  background: #efefef;
}
