@import 'nib'

images-root        = '../../../images/infoblocks/subject-progress'
remote-images-root = images-root

display(d) {
	display: d;
	if (d == 'inline-block') {
		*display: inline;
		*zoom: 1;
	}
}

image-url(iurl, as-data-url = false) {
	if as-data-url {
		data-url(images-root + iurl)
	} else {
		'url(%s%s)' % (unquote(remote-images-root) unquote(iurl))
	}
}

.subject-progress {
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		border-bottom: 1px solid #c7c7c7;
		border-top: 1px solid #fff;
		max-width: 100%;
		overflow: auto;
		&.first {
			border-top-width: 0;
			> h4 {
				margin-top: 0;
			}
		}
		&.last {
			border-bottom-width: 0;
		}
		> h4 {
			margin-bottom: 0.3em;
			margin-top: 1em;
			white-space: nowrap;
			font-size: 1.2em;
			font-weight: normal;
			span, a {
				white-space: normal;
			}
			img, span, a {
				vertical-align: middle;
			}
			img {
				display: inline-block;
				margin-left: 4px;
			}
		}
		.ui-button {
			padding-left: 2px;
			padding-right: 2px;
			margin: 0 0.5em 0 0;
		}
		.ui-progressbar {
			margin-right: 0.5em;
		}
		.progress,
		.status {
			display: inline-block;
			vertical-align: middle;
		}
		.progress {
			width: 60%;
		}
		&, &.not-attempted {
			.status .label {
				color: #696969;
			}
			.ui-progressbar-value {
				background-color: #d5d5d5;
			}
		}
		&.incomplete {
			.status .label {
				color: #555555;
			}
			.ui-progressbar-value {
				background-color: #d5d5d5;
			}
		}
		&.passed,
		&.completed {
			.status .label {
				color: #60923c;
			}
			.ui-progressbar-value {
				background-color: #b4d4a4;
			}
		}
		&.failed {
			.status .label {
				color: #a22a2a
			}
			.ui-progressbar-value {
				background-color: #d4a4a4;
			}
		}
		.status {
			clearfix();
			position: relative;
			width: 35%;
			white-space: nowrap;
			.ie7 & {
				width: 34.99%;
			}
			.ui-button,
			.label {
				vertical-align: middle;
			}
			.ui-button {
				position: absolute;
				top: 50%;
				margin-top: -11px;
				left: 0;
			}
			.label {
				white-space: normal;
				display: block;
				text-align: right;
				margin-left: 30px;
			}
			> .label:first-child {
				margin-left: 0;
			}
		}
		&.last .last-used:empty {
			display: none;
		}
		.last-used {
			color: #737373;
			min-height: 1em;
			margin: 0.5em 0;
		}
	}
}