.workflowBulbs {
    white-space: nowrap;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer;
    line-height: 9px;
    padding: 2px 4px 3px;
    -moz-border-radius: 3px;
         border-radius: 3px;
}
.workflowBulbs:hover {
    background: #fceadd;
}
.workflowBulbs.grid-workflow-active,
.workflowBulbs.grid-workflow-active:hover {
    background-color: #c1cfe5;
}
.workflowBulbs .bulb {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 7px;
    height: 7px;
    overflow: hidden;
    vertical-align: bottom;
}
.ie7 .workflowBulbs .bulb {
    margin: 0 1px;
}

.workflowBulbs .status-waiting,
.workflowBulbs .status-completed {
	height: 7px;
}

.workflowBulbs .status-continuing {
	height: 9px;
}

.workflowBulbs .status-completed-success {
	background-color: #339BAF;
}

.workflowBulbs .status-completed-failed {
	background-color: #cb5151;
}

.workflowBulbs .status-continuing {
	background-color: #11A011;
}

.workflowBulbs .status-waiting {
	background-color: #c0c1c1;
}

.workflowBulbs.arbitrary .status-waiting.sessionEventsCompleted,
.workflowBulbs .status-continuing.sessionEventsCompleted { /*???*/
	background-color: #dca207;
}

.workflowBulbs .impossible {
    background-color: #777;
}

/*
.workflowBulbs .success {
    background-color: #339BAF;
}
.workflowBulbs .complete {
    background-color: #11A011;
    height: 9px;
}
.workflowBulbs.arbitrary .freeze.sessionEventsCompleted {
    background-color: #dca207;
}
.workflowBulbs .complete.sessionEventsCompleted {
    background-color: #dca207;
    height: 9px;
}
.workflowBulbs.arbitrary .complete,
.workflowBulbs .freeze {
    background-color: #c0c1c1;
	height: 7px;
}
.workflowBulbs .failed {
    background-color: #cb5151;
}
.workflowBulbs .impossible {
    background-color: #777;
}
.workflowBulbs.arbitrary .success {
    background-color: #6F9F30;
} */