// @see https://vuetifyjs.com/en/customization/breakpoints#breakpoints

$grid-breakpoint-xs-end:     599px;
$grid-breakpoint-sm-start:   600px;
$grid-breakpoint-sm-end:     959px;
$grid-breakpoint-md-start:   960px;
$grid-breakpoint-md-end:    1263px;
$grid-breakpoint-lg-start:  1264px;
$grid-breakpoint-lg-end:    1903px;
$grid-breakpoint-xl-start:  1904px;
