//.hm-sidebar {
//  .v-navigation-drawer__content {
//    > div {
//      max-height: 100%;
//      overflow: auto;
//    }
//  }
//}

.sidebar-scroll-auto {
  max-height: 60%;
  overflow: auto;
}

.notification-counter {
  position: absolute;
  top: 0;
  right: .4rem;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #EE423D;
  font-size: 12px;
  text-align: center;
  > span {
    font-weight: bold;
    font-size: 9px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.16px;
    color: #FFFFFF;
  }
}
//
//height: 65%;
//          overflow: auto;
