.testings__options-between {
  margin-bottom: 18px;
}

.test__answer-options {
  color: #1E1E1E;
  font-size: 14px;
  line-height: 21px;
}

.v-expansion-panel__container.card-testings {
  box-shadow: 0 10px 30px rgba(209, 213, 223, 0.5) !important;
  border-radius: 4px;
  position:relative;
  margin-bottom: 26px !important;
  border: none !important;
}


